<header>
  <div class="wrapper">

    <div class="menu">
      
      <div class="title">
        <a href="/">Pixelbuddy</a>
      </div>

      <div class="nav">
        <ul>
          <li>
            <a href="/guides/about.html">How to use</a>
          </li>
          <li>
            <a href="https://github.com/markusoelhafen/pixelbuddy/blob/master/CHANGELOG.md" target="_blank">What's new</a>
          </li>
          <li class="desk">
            <a href="https://www.figma.com/file/FL9vQKJFP0y5aJVQGuMUVM/Pixelbuddy/duplicate" target="_blank">
              <div class="btn-small">
                Get started
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</header>