<aside class="sidebar copy-small">
  <ul>
    <li>
      <a href="./" class="active bold">
        About
      </a>
      <ul>
        <li>
          <a href="">
            What is Pixelbuddy
          </a>
        </li>
        <li>
          <a href="">
            Does it cost anything?
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="./getting_started.html" class="bold">
        Getting started
      </a>
      <ul>
        <li>
          <a href="">
            Using Figma
          </a>
        </li>
        <li>
          <a href="">
            Using the template
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="" class="bold">
        Components
      </a>
    </li>
    <li>
      <a href="" class="bold">Colors</a>
    </li>
    <li>
      <a href="" class="bold">Exports</a>
    </li>
    <li>
      <a href="" class="bold">Customization</a>
    </li>
    <li>
      <a href="" class="bold">What's new?</a>
    </li>
  </ul>
</aside>