$font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$max-width: 960px;
$breakpoint-1: 720px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  width: 100%;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}