.benefits {
  padding: $space-l 0;
  @include sp-bot($space-xl);
  
  @media (min-width: $breakpoint-1) {
    @include sp-bot($space-xxl);
  }

  ul {
    display: flex;

    li {
      padding: 0 $space-m;
      text-align: center;
      flex-basis: 100%;
    }
  }
}