.media-player {
  margin: 0 $tower;
  border: 4px solid black;
  box-shadow: 4px 4px 0 0 black;

  @media (min-width: calc(#{$max-width} + (#{$tower}*2))) {
    max-width: $max-width;
    margin: 0 auto;
    @include sp-bot($space-l);
  }

  video {
    width: 100%;
  }
}