header {
  background-color: white;
  position: sticky;
  top: 0;
}

footer {
  background-color: black;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: $space-m 0;
  font-size: 15px;

  .title {
    font-weight: 600;
  }

  .author {
    flex-shrink: 0;
    margin-bottom: 10px;

    a {
    text-decoration: underline;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin-right: $space-m;
      @media (min-width: $breakpoint-1) {
        margin-right: $space-l;
      }

      &:last-of-type {
        margin-right: 0;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}