h1, h2, h3 {
  font-weight: 600;
}

p {
  font-weight: 300;
  @include sp-bot($space-s);
  max-width: 740px;

  a {
    text-decoration: underline;
  }
}

.order-1 {
  font-size: 30px;
  @include sp-bot($space-m);

  @media (min-width: $breakpoint-1) {
    font-size: 40px;
  }
}

.order-2 {
  font-size: 25px;
  @include sp-bot($space-m);

  @media (min-width: $breakpoint-1) {
    font-size: 30px;
  }
}

.order-3 {
 font-size: 24px;
}

.copy {
  font-size: 15px;

  @media (min-width: $breakpoint-1) {
    font-size: 20px;
  }

  &-small {
    font-size: 12px;

    @media (min-width: $breakpoint-1) {
      font-size: 15px;
    }
  }

  &-tiny {
    font-size: 10px;

    @media (min-width: $breakpoint-1) {
      font-size: 12px;
    }
  }
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 300;
}

.strikethrough {
  text-decoration: line-through;
}

.inline {
  display: inline;
}