@import 'base';
@import 'space';
@import 'typography';
@import 'menu';
@import 'fifty';
@import 'benefits';
@import 'mediaplayer';

.wrapper {
  max-width: calc(#{$max-width} + (#{$tower}*2));
  margin: 0 auto;
  padding: 0 $tower;
}

.features {
  > div {
    @include sp-bot($space-xl);

    @media (min-width: $breakpoint-1) {
      @include sp-bot($space-xxl);
    }
  }
}

.desk {
  display: none;
  
  @media (min-width: $breakpoint-1) {
    display: initial;
  }

}