@import 'base';
@import 'space';
@import 'typography';
@import 'menu';
@import 'hero';
@import 'fifty';
@import 'benefits';
@import 'mediaplayer';
@import 'teaser';

.wrapper {
  max-width: calc(#{$max-width} + (#{$tower}*2));
  margin: 0 auto;
  padding: 0 $tower;
}

.features {
  > div {
    @include sp-bot($space-xl);

    @media (min-width: $breakpoint-1) {
      @include sp-bot($space-xxl);
    }
  }
}

.desk {
  display: none;
  
  @media (min-width: $breakpoint-1) {
    display: initial;
  }

}

.btn {
  padding: 15px 20px;
  background-color: black;
  color: white;
  transition: all .3s;

  &.small {
    padding: 6px 12px;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }
}