<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Pixelbuddy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#E90F73" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta charset="UTF-8">
		<meta name="description" content="Build your own little pixel self in Figma with Pixelbuddy">
		<meta name="author" content="Markus &Ouml;lhafen">
		<meta property="og:title" content="Pixelbuddy">
		<meta property="og:description" content="Build your own little pixel self in Figma with Pixelbuddy">
		<meta property="og:url" content="https://pixelbuddy.xyz">
		<meta property="og:image" content="https://pixelbuddy.xyz/assets/apple-touch-icon-144x144.png">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
  </head>
  <body>

    <header>
      <div class="wrapper">

        <div class="menu">
          
          <div class="title">
            <a href="https://pixelbuddy.xyz">Pixelbuddy</a>
          </div>
  
          <div class="nav">
            <ul>
              <li>
                <a href="./docs/">How to use</a>
              </li>
              <li>
                <a href="https://github.com/markusoelhafen/pixelbuddy/blob/master/CHANGELOG.md" target="_blank">What's new</a>
              </li>
              <li class="desk">
                <a href="https://www.figma.com/file/FL9vQKJFP0y5aJVQGuMUVM/Pixelbuddy/duplicate" target="_blank">
                  <div class="btn-small">
                    Get started
                  </div>
                </a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </header>

    {{ content }}

    <footer>
      <div class="wrapper">
        <div class="menu">
          <div class="author">
            Built in 2020 by <a href="https://markusoelhafen.com" target="_blank">Markus Ölhafen</a>
          </div>
          <div class="legal">
            <ul>
              <li>
                <a href="https://markusoelhafen.com/sitesnotice.html" target="_blank">Sites notice</a>
              </li>
              <li>
                <a href="https://markusoelhafen.com/privacypolicy.html" target="_blank">Privacy policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>